* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: #030203;

  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;

  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77C0A;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;

  --ff-sora: "Sora", sans-serif;
  --ff-roboto: "Roboto Mono", monospace;
  --ff-roboto-flex: "Roboto Flex", sans-serif;

  --display-lg: 800 4.5rem/130% var(var(--ff-sora));
  --display-md: 800 2.5rem/130% var(var(--ff-sora));
  --display-sm: 700 2rem/130% var(var(--ff-sora));

  --overline: 700 1rem/150% var(var(--ff-roboto));

  --p-lg: 500 1rem/150% var(var(--ff-roboto-flex));
  --p-md: 500 0.875rem/150% var(var(--ff-roboto-flex));
  --p-sm: 500 0.75rem/150% var(var(--ff-roboto-flex));
  --label-md: 700 1.25rem/150% var(var(--ff-roboto-flex));
  --label-md: 700 1rem/150% var(var(--ff-roboto-flex));
}
