* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: #030203;

  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;

  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77C0A;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;

  --ff-sora: "Sora", sans-serif;
  --ff-roboto: "Roboto Mono", monospace;
  --ff-roboto-flex: "Roboto Flex", sans-serif;

  --display-lg: 800 4.5rem/130% var(--ff-sora);
  --display-md: 700 40px/130% var(--ff-sora);
  --display-sm: 700 32px/130% var(--ff-sora);
  --display-logo: 800 24px/130% var(--ff-sora);

  --overline: 500 1rem/150% var(--ff-roboto);

  --p-lg: 500 1rem/150% var(--ff-roboto-flex);
  --p-md: 500 0.875rem/150% var(--ff-roboto-flex);
  --p-sm: 500 0.75rem/150% var(--ff-roboto-flex);
  --label-lg: 700 1.25rem/150% var(--ff-roboto-flex);
  --label-md: 700 1rem/150% var(--ff-roboto-flex);
}

body {
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6) 90%),
    url("../assets/bg.svg");
  background-attachment: fixed;
  background-size: cover;
  background-color: #1f1f1f;
  min-height: 100vh;
}

.container {
  padding: 2.75rem 2.25rem;
}

@media (width >= 48em) {
  .container {
    max-width: 75rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header main" "footer main";
    column-gap: 5rem;
    align-items: center;
    padding: 4rem 2rem;
  }
}
