header {
  & .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6875rem;
    margin-bottom: 2.875rem;
  }

  & .span-logo {
    font: var(--display-logo);
    color: var(--content-primary);

    text-transform: uppercase;
  }

  & p {
    font: var(--overline);
    text-transform: uppercase;
    background: linear-gradient(90deg, #d9d9d9 0%, #3d3d3d 100%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
  & h1 {
    color: var(--content-primary);
    font: var(--display-md);
    text-transform: uppercase;
    margin-bottom: 2.625rem;
  }
}

@media (width >= 48em) {
  header {
    grid-area: header;
    text-align: left;
  }

  header .logo {
    justify-content: flex-start;
    margin-bottom: 3.5rem;
  }

  header h1 {
    font: var(--display-lg);
    margin-bottom: 1rem;
  }
}
